[submodule "vendor/StormLib"]
	path = vendor/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
	ignore = dirty
[submodule "vendor/github.com/google/gopacket"]
	path = vendor/github.com/google/gopacket
	url = https://github.com/google/gopacket.git
	ignore = dirty
[submodule "vendor/github.com/ftrvxmtrx/tga"]
	path = vendor/github.com/ftrvxmtrx/tga
	url = https://github.com/ftrvxmtrx/tga.git
[submodule "vendor/bncsutil"]
	path = vendor/bncsutil
	url = https://github.com/BNETDocs/bncsutil.git
	ignore = dirty
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://github.com/golang/sys.git
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color.git
