[submodule "third_party/StormLib"]
	path = third_party/StormLib
	url = https://github.com/nielsAD/StormLib.git
	ignore = dirty
[submodule "third_party/bncsutil"]
	path = third_party/bncsutil
	url = https://github.com/BNETDocs/bncsutil.git
	ignore = dirty
